* {
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
}

.navbar {
    background-color: rgb(71 185 63);
    border-radius: 8px;
    margin: 23px 55px 0px 55px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    padding: 0px 12px;
}

.navbar li a {
    text-decoration: none;
}

.search {
    margin: 0px 0px 0px 585px;
}

#search {
    margin-left: 6px;
    border-radius: 5px;
}

h2 {
    margin: 50px 0px 0px 0px;
    text-align: center;
    font-family: 'Playball', sans-serif;
    font-size: 40px;
}

body {
    text-align: justify;
    background-color: #ffd6fd;
    font-family: 'Ubuntu', sans-serif;
}

.heading {
    margin: 20px 20px 20px 0px;
}

.base {
    background-color: rgb(187 224 245);
    border:10px solid white;
    border-radius: 30px;
    margin: 55px;
    padding: 55px;
    width: auto;
}

.btn {
    margin: 18px 0px 0px 0px;
    padding: 8px;
    background-color: rgb(20 135 11);
    border: none;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(20, 94, 15);
}

.btn:active {
    background-color: rgb(16, 78, 12);
}

#btn1 {
    margin: 18px 0px 0px 0px;
    padding: 11px;
}

#hyperlink {
    text-decoration: none;
}

#hyperlink:visited {
    color: none;
}

#first {
    background-image: url(https://images.squarespace-cdn.com/content/v1/56b312c32b8dde025b97c861/1547464627576-6VZM3U0H7OP4EU6NUTM5/adult-app-blur-1440722.jpg?format=2500w);
}

#second {
    background-image: url(https://my-media.apjonlinecdn.com/magefan_blog/5_Components_Of_A_Computer_And_Their_Benefits.jpg);
}